
$primarycolor: #9356dc;
$secondarycolor: #ff79da;
$tierciarycolor: #99e2d0;
$softbackground: #f4f4f4;
$ombre: #b1b1b1;


.bloc_guide_etapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}


.step_card {
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  text-align: center;
  height: 72px;
  min-width: 88%;
  background-color: $softbackground;
  box-shadow: 0px 3px 20px #cccccc;
  margin: 0px 8px 25px 20px;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
  &:hover {
    user-select: none;
    background-color: #9256dc36;
    .icone_etape {
      color: $primarycolor;
    }
    &:active {
      background-color: $primarycolor;
      opacity: 50%;
      .icone_etape {
        color: $secondarycolor;
        opacity: 100%;
      }
    }
  }
}

.step_num {
  position: relative;
  right: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  background-color: $primarycolor;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
}
.icone_etape {
  padding: 0px 20px 0px 15px;
  font-size: 18px;
  color: #bdbdbd;
}
